<!DOCTYPE html>
<html>
<head>
	<title>Country Details</title>
</head>
<body>
    <center>
	<h1>Country Details</h1>

	<table>
		<tr>
			<td>Name:</td>
			<td>{{Name}}</td>
		</tr>
		<tr>
			<td>Country Code:</td>
			<td>{{Code}}</td>
		</tr>
		<tr>
			<td>Continent:</td>
			<td>{{Continent}}</td>
		</tr>
		<tr>
			<td>Region:</td>
			<td>{{Region}}</td>
		</tr>
		<tr>
			<td>Surface Area:</td>
			<td>{{SurfaceArea}} km²</td>
		</tr>
		<tr>
			<td>Independent Year:</td>
			<td>{{IndepYear}}</td>
		</tr>
		<tr>
			<td>Population:</td>
			<td>{{Population}}</td>
		</tr>
		<tr>
			<td>Life Expectancy:</td>
			<td>{{LifeExpectancy}}</td>
		</tr>
		<tr>
			<td>GNP:</td>
			<td>{{GNP}}</td>
		</tr>
		<tr>
			<td>GNP Old:</td>
			<td>{{GNPOld}}</td>
		</tr>
		<tr>
			<td>Local Name:</td>
			<td>{{LocalName}}</td>
		</tr>
		<tr>
			<td>Government Form:</td>
			<td>{{GovernmentForm}}</td>
		</tr>
		<tr>
			<td>Head of State:</td>
			<td>{{HeadOfState}}</td>
		</tr>
	</table>
    </center>
</body>
</html>